*{
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;

}

#container {
    
    background-color: rgb(57, 177, 93);
    height: 492px;
    width: 495px;
    /* display: flex; */
    /* flex-wrap: wrap;  */
    align-items: center; 
    justify-content: center;
    /* border-style: solid; */
    
}

.block {
    padding: 0%;
    margin: 0%;
    box-shadow: 1px;
    border-style: solid;
    background-color: grey;
    width: 20px;
    height: 20px;

    float: left;
    text-align: center;
}

.img {
    height: 20px;
    width: 20px;
    float: left;
}

#input1 {
    float: left;
    color: chartreuse;
    background-color: darkslategray;


}

#input {
    /* position: relative; */
    float: right;
    color: chartreuse;
    background-color: darkslategray;
}

.outer {
    width: 492px;
    height: 510px;
    border-style: solid;
}


.button {
    border: 0px;
    margin: 0px;
    float: inline-start;
    background-color: red;
}

#button12 {
    background-color: green;

}